.App {
  text-align: center;
  background-color: #cbcfd8cb;
}
.main {
  text-align: center;
  justify-content: top;
  display: flex; 
  
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #cbcfd8cb;
}
